*{
    font-family: 'Edu SA Beginner', cursive;
}

body{
    margin: 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 4px 4px 5px #888888;
}

img{
    width: 600px;
    height: 400px;
    margin: 10px; 
    box-shadow: 8px 8px 10px #888888; 
    transition: all 5s;
}

img:hover{
    transform: scale(0.9);
}
